h1{
    border-bottom: 1px solid black
    
}

h2{
    border-bottom: 1px solid black;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
div.gallery:hover {
    border: 1.5px solid #777;
  }
  
  
div.desc {
    padding: 10px;
    text-align: left;
  }

  body {
    max-width: 800px;
    margin: 0 auto;
  }

  p {
    margin-bottom: 1em; /* adds 1 unit of spacing after each paragraph */
  }
  
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }