h1{
    border-bottom: 1px solid black
}

h2{
    border-bottom: 1px solid black
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
  }
  
div.gallery:hover {
    border: 1.5px solid #777;
  }
  
  
div.desc {
    padding: 10px;
    text-align: left;
  }