p{
    color: blue;
}

.purple{
    color: purple;
}

#blue{
    color: red;
}

div{
    border-style: dashed;
    padding: 30px;
    border-color: pink;
    margin: 20px;
    margin-left: 200px;
}

#first_div{
    position: relative;
    left: 200px;
}

img{
    position: sticky;
    width: 100px;

}

h1{
    text-shadow: 0.5px 1px 2px black;
}